body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

header {
  width: 85%;
  margin: 0 auto;
}

.clear {
  clear:both;
}

#resume {
	margin-left: 20px;
	padding-top: 1px;
}

#my-face {
  border-radius: 200px/200px;
  width:160px;
  height:160px;   
	float:left;
  margin: 10px;
  margin-right: 20px;
}

#github-logo {
  height: 30px;
  width: 35px;
}

.main-nav ul {
  list-style-type: none;
  font-weight: bold;
}

.main-nav ul li {
  float: left;
  padding-right: 15px;
}

.main-nav a {
  color: blue;
  text-decoration: none;
  transition: 500ms ease color;
}

.main-nav a:hover {
  color: #595959;
}

#lower-half {
	background: #cccccc;
	width: 85%;
  margin: 0 auto; /* top/bottom left/right */
  margin: 0 auto 0 auto; /* top right bottom left */
  padding: 10px;
	border-radius: 5px;
	border: 1px solid #808080;
}

.no-bullet {
	list-style-type: none;
}

.no-bullet > a {
	text-decoration: none;
}

section > h1 {
	text-decoration: underline;
}